#name{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    size: 150px;
    width: 250px;
    height: 30px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url('C:\react-gym\second-app\src\component\gym web\images\back1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#head{
    color: beige;
}
.One{
    color: aliceblue;
    font-size: 17px;
}

#currentDate {
    width: 200px;
    height: 30px;
    font-size: 17px;
    color: white;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);

}
#head1{
    color: white;
    margin-top: 200px;
}
.Enter {
    border-radius: 12px;
    background-color: #aaababb9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Enter:hover {
    background-color: #ffffff;
    color: #000000b9;
}
label{
    font-size: larger;
}
#overall{
    /* background-color: aquamarine;
    padding-bottom: 55px;
    padding-top: 200px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px; */
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    /* border: 1px solid black; */
    align-items: center;
    margin: auto;
    margin-top: 80px;
    background-color: #8080808b;
    box-shadow: inset -5px -5px rgba(40, 39, 39, 0.868);
    border-radius: 25px;
    
}
#h1{
    color: white;
    font-size: 2rem;
    border-bottom: 3px solid rgba(14, 14, 14, 0.644);
    margin: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::placeholder{
    color: white;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 120px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-left: 150px;
}
.navbar a
{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active
{
    color: #ffffff;
}
#logo{
    height: 130px;
    width: 130px;
}