@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.name{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    size: 150px;
    width: 250px;
    height: 30px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    
}
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url('C:\react-gym\second-app\src\component\gym-col\images\back1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#head{
    color: beige;
}
.One{
    color: aliceblue;
    font-size: 17px;
}

#currentDate {
    width: 200px;
    height: 30px;
    font-size: 17px;
    color: white;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);

}
#head1{
    color: white;
    margin-top: 200px;
}
/* .Enter {
    border-radius: 12px;
    background-color: #aaababb9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

.Enter:hover {
    background-color: #ffffff;
    color: #000000b9;
}
label{
    font-size: larger;
}
.overall{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    background-color: #5952528b;
    box-shadow: inset -5px -5px rgba(126, 112, 135, 0.868);
    border-radius: 25px;
}

.h1{
    font-size: 48px; /* Large, bold text */
    font-family:"Open Sans";
    font-weight: 700; /* Make the text bold */
    color: lavender; /* Dark gray for the text */
    letter-spacing: -1px; /* Slightly reduce letter spacing for a tighter look */
    /* Uppercase for emphasis */
    background: linear-gradient(145deg, lavender, #9fa3a9,#8b8585); /* Dark blue gradient */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show gradient */
    text-align: center; /* Center the heading */
    margin: 0; /* Remove default margin */
    padding-bottom: 10px;

    
}
::placeholder{
    color: white;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 120px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-left: 150px;
}
.navbar a
{
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active
{
    color: #ffffff;
}
#logo{
    height: 130px;
    width: 130px;
}
.btn {
    margin: 1px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}
  /* glow */
.btn::before {
    content: "";
    background: linear-gradient(
    45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    }
    @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
    }
  /* hover */
    .btn:hover::before {
    opacity: 1;
    }
    .btn:active:after {
    background: transparent;
    }
    .btn:active {
    color: #000;
    font-weight: bold;
    }

